.main-portrait-photo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media only screen and (max-width: 600px) {
    .main-portrait-photo{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .main-image{
        width: 100%;
        height: 300px;
        object-fit: cover;
        margin-bottom: 2em;

    }
}