:root {
    --primary-background-colour: #1A202C;
    --secondary-background-colour: #2D3748;
    --primary-text-colour: #FFFFFF;
    --secondary-text-colour: #FFC821;
}

html, body {
    height: 100%;
}

body > div {
    height: 100%;
}

.main-body {
    background-color: var(--primary-background-colour);
}

.main-body-content {
    margin: 0em 2em;
    margin-bottom: 1em;
    border-radius: 10px;
    padding: 2em;
    background-color: var(--secondary-background-colour);
    min-height: calc(100% - 1em - 4em - 1em);
}