:root {
    --primary-background-colour: #1A202C;
    --secondary-background-colour: #2D3748;
    --primary-text-colour: #FFFFFF;
    --secondary-text-colour: #FFC821;
}

html, body {
    height: 100%;
    font-family: 'Courier New', monospace;
}

body > div {
    height: calc(100% - 4em);
}

.main-body {
    background-color: var(--primary-background-colour);
}

.main-body-content {
    margin: 0em 2em;
    margin-bottom: 1em;
    border-radius: 10px;
    padding: 2em;
    background-color: var(--secondary-background-colour);
    min-height: calc(100% - 1em - 4em - 1em);
    box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.2);
}
.easy-read {
    font-family: monospace;
    font-size: 16px;
}

@media only screen and (max-width: 600px) {
    .main-body-content {
        min-height: calc(100% - 1em - 4em - 1em);
        overflow: auto;
        height: calc(100% - 1em - 4em - 1em);
    }
    body > div {
        height: calc(100% - 4em + 0.5em);
    }
}